<!DOCTYPE html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Use bootstrap CDN to ease this file -->
  <link rel="stylesheet" href="{{ bootstrap_file }}" integrity="{{ bootstrap_checksum }}">
  <style type="text/css">
    body {
      background-color: {{ background_color }};
      font-family: sans-serif;
    }

    .svg-container svg {
      height: 100%;
      width: 100%;
    }

    {% if enable_game %}
      .dino-frame {
        width: 100%;
        height: 220px;
        border: none;
        overflow: hidden;
      }

      @media (max-width: 500px) {
        .dino-container {
          display: none;
        }
      }
    {% endif %}
  </style>
  {% if reload_seconds != 0 %}
    <script type="text/javascript">
      {# Reload after the configured amount of seconds, unless the game has been started #}
      document.addEventListener('DOMContentLoaded', function() {
        const reloadTimeout = setTimeout(function(){
          window.location.reload();
        }, {{ reload_seconds }} * 1000);

        window.addEventListener('message', function (e) {
          if (e.data === 'game_started') {
            clearTimeout(reloadTimeout);
          }
        });
      });
    </script>
  {% endif %}
</head>
<body>
<div class="container-fluid">
  {% if svg %}
    <div class="row justify-content-center mt-3">
      <div class="h-100 px-3 svg-container" style="max-width: 100%;">
        {{ svg|raw }}
      </div>
    </div>
  {% endif %}
  <div class="row justify-content-center mt-3">
    <div class="col-12 col-sm-10 col-md-8 col-xl-6">
      <div class="card">
        <h1 class="card-header">{{ update_title }}</h1>
        <div class="card-body">
          <div>{{ update_text }}</div>
          {% if enable_game %}
            <div class="dino-container mt-4">
              {% if game_header %}<h5>{{ game_header }}</h5>{% endif %}
              <iframe class="dino-frame" onload="this.focus()" scrolling="no"
                      src="{{ asset('bundles/drensodeployer/dino.html') }}"></iframe>
              <div class="text-right font-italic small">© Copyright 2017 The Chromium Authors</div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
